<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    {{ content_for_head }}
  </head>
  <body>
   <header class="site-header">
    <nav class="site-nav">
      {% for page_path in site.header_pages %}
        {% assign nav_page = site.pages | where: "path", page_path | first %}
        {% if nav_page %}
          <a href="{{ nav_page.url | relative_url }}">{{ nav_page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </header>


    <main class="page-content">
      {{ content }}
    </main>

    <footer class="site-footer">
      <p> {{ site.title }} {{ site.time | date: '%Y' }}</p>
    </footer>
  </body>
</html>



